:root {
    --color-background: #ffffff;
    --color-foreground: #171717;
}

html,
body {
    /*  */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
