:root {
    /**
    * These CSS variables need to be kept in sync with the theme defined in src/theme/theme.ts
    */
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-primary: #9747ff;
    --color-primary-dark: #7135bf;
    --color-primary-light: #9747FF40;
    --color-grey-100: #2a2a2a;
    --color-grey-200: #7f7f7f;
    --color-grey-300: #e4e4e4;
    --color-grey-400: #eeeeee;
    --color-disabled: #00000033;
    --color-error: #ff4e4e;
    --shadow-default: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
    --shadow-focus: 0px 0px 0px 4px rgba(151, 71, 255, 0.25);
    --border: 1px solid var(--color-grey-400);
    --border-rounded: 1px solid var(--color-grey-200);
    --radius: 2px;
    --radius-full: 16px;
}

html,
body {
    min-height: 100dvh;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
